

.jumbotron{
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.P6FO3u602WbYLE8i9n4PZgHaEl&pid=Api&P=0&w=280&h=174);
	width: 100%;
	color: white;
	padding-top: 1%;
	padding-bottom: 2%;
}


    